:root {
  --primary: #e03e72;
  --secondary: #55216b;
  --light: #d8d8d8;
  --light-alt: #93E1D8;
  --dark: #131A26;
  --dark-alt: #202B3E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bodyContainer {
  background-color: var(--dark-alt);
  color: var(--light);
  display: flex;
  /* align-items: center; */
  justify-content: center
}

.App {
  padding: 32px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 32px;
}

h4 {
  font-size: 18px;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
}

.todo {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 16px;
  min-width: 500px
}

.todo:hover {
  opacity: 0.5;
}

.todo .checkbox {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 999px;
  background-color: var(--dark-alt);
  transition: 0.4s;
}

.todo.is-complete .checkbox {
  background-color: var(--primary);
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.todo .text {
  font-size: 20px;
}

.todo.is-complete .text {
  text-decoration: line-through;
}

.todo .delete-todo {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;
  color: var(--light);
  background-color: #ce1628;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}


.containerLogin {
  display: flex;
  justify-content: center;
}

.loginBox {
  margin-top: 10%;
  max-width: 600px;
  padding: 5%;
  border: 2px solid black;
  background: linear-gradient(-10deg, #d3d3d3, #2C2C2C 80%);
  color: white;
}

.loginBtn {
  margin-top: 10px;
}
